
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kayıt Ekranı</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/register/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/register/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">YENİ HESAP</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="CustomerFirstName" id="name" placeholder="İsminiz" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="CustomerLastName" id="email" placeholder="Soyadınız" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="CustomerEmail" id="email" placeholder="Email Adresiniz" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="CustomerPassword" id="password" placeholder="Şifre" />
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Kayıt Ol" />
                        </div>
                    </form>
                    <p class="loginhere">
                        Hesabınız Var Mı ? <a href="/Login/SignIn/" class="loginhere-link">Giriş Yapınız</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/register/vendor/jquery/jquery.min.js"></script>
    <script src="~/register/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>